<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrition Assistant Application</title>

    <style>
        button {
  background-color: BLACK;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  position: absolute;
  top: 1%;
  left: 3%;
  border: none;
  border-radius: 20px;
        box-shadow: 0px 2px 2px 2px gray;
}

.button:hover {
  opacity: 0.8;
}
img
{
    position: absolute;
    top: 13%;
    left: 5%;
}
h2
{
    position: absolute;
    top: 56%;
}
p
{
    position: absolute;
    top: 66%;
}
    </style>
</head>
<body>
    <a href="uploadimage.html">
        <button>back</button>
    </a>
    <img src="assets/image/apple.jpg" alt="">
    <h2>
        Nutritions Present in the Apple....
    </h2><br>
    <p>
        Source Of. One serving, or one medium apple, <br>provides about<br> 95 calories,<br> 0 gram fat, <br>1 gram protein, <br>25 grams carbohydrate, <br>19 grams sugar (naturally occurring), and 3 grams fiber.
    </p>
</body>
</html>